[2018-02-26 09:34] mbrodala opened #1 "Add finisher to form editor"
Currently the finisher can only be added manually in form editor YAML files. The logger finisher should be available in the form editor for visual selection.

[2018-02-26 09:35] mbrodala opened #2 "Expand documentation"
There should be a proper documentation with more details and especially screenshots of the log module.

[2018-02-26 09:48] mbrodala opened #3 "Log finisher options"
Currently the only way to log additional data from arbitrary finishers is by having them or other finishers store variables in the `FinisherVariableProvider`.

It would be way more convenient if one could instead specify a list of finisher options to log.

[2018-02-26 11:23] #1 closed

[2018-03-06 21:15] eduardofrank opened #4 "Configuration error"
I have a site with a couple of existing and working forms, one of which I would like to log. Upon installing the form log extension, the existing forms don't render properly anymore and following error prompts on screen: TYPO3.CMS.Form.mixins.formElementMixins.BaseCollectionEditorsMixin does not exist within the configuration.
At this stage no form has been yet configured with the form log finishe

[2018-03-07 09:03] mbrodala commented on #4
This is fixed by 2217e5ad80b46e823f61c159b288580051a5cc5a and will be released with 1.1.1 in a few minutes. Thanks for reporting!

[2018-03-07 09:03] #4 closed

[2018-03-07 15:19] mbrodala opened #5 "Check conformity to GDPR"
The [GDPR](https://ec.europa.eu/info/law/law-topic/data-protection_en) becomes active with May 25, 2018. We need to check what changes are required to conform to that regulation.

[2018-06-07 11:22] Nemo64 commented on #5
The person needs to allow the digital processing and storage of their data. Basically, every form needs that now so there is nothing you must do since a required checkbox should do just fine there.

But now speculation: You'll need some kind of proof that the person actually clicked that checkbox. Simply saving that the person did check it might not be enough. I currently also save the ip since th

[2018-07-20 17:07] Nemo64 opened #11 "Add tx_formlog_entries to TableGarbageCollectionTask"
Related to #5

It should be easily possible to automatically remove old entries from fromlog.
The most out-of-the-box way I know of would be to add it to the `TableGarbageCollectionTask`.

I'm thinking of something like this:

[code]

I'm not sure where I read it but 90 days was how long you should keep the data but also when you should delete it.

[2018-07-23 09:35] mbrodala commented on #11
Good idea, can you add a PR for this?

[2018-07-30 13:12] #11 closed

[2018-09-19 12:38] dkd-kaehm opened #15 "make filters configurable"
as an integrator i want to declare each column in Form log module (`module.tx_formlog.settings.list.columns`) as filter.

Currently its only possible to filter by Page-Title and Date.
Moreover Page-Title filter can grap wrong entries if some Page with same Title exists.
This makes cleaning of CSV export impossible. For Example we could disable some CSV columns by TypoScript condition by using the

[2018-10-16 11:48] christianbltr opened #17 "Make it easier to export all form data"
As an editor I want to be able to export all form fields without having to configure them via typoscript because I do not have the rights in my environment to add typoscript configuration.

*Background*
Currently only the basic fields of submitted forms will be exported. More fields can be configured to be exported as described in https://docs.typo3.org/typo3cms/extensions/formlog/ ("Form log expo

[2018-10-16 12:18] mbrodala commented on #17
Generally a good idea but given the fact that all columns of all forms need to be exploded this can get quite ugly. We'd need to traverse all entries once to find out what additional columns need to be exported and then try to get these columns from all form entries, falling back to empty values if absent.

I'll need to give this a bit more thought but welcome any other idea.

[2018-10-16 12:32] christianbltr commented on #17
Maybe it would be an suitable approach first let the editor select the page from which he wants to do the export. Only the form log records created by forms sitting on that page then would be exported (mostly there will only be one form on that page). That's the way powermail does it as far as I know.

Then the number of fields which have to be collected will be significantly reduced.

I think tha

[2018-10-29 11:35] Treedent opened #18 "finisherVariables working example"
With the poor explanation of the Readme file, I can't make finisherVariables working well.
When inserting a custom variable 'email-confirmed' in YAML form definition file, I've got the following error :

Argument 1 passed to TYPO3\CMS\Core\Utility\ArrayUtility::getValueByPath() must be of the type array, null given, called in /var/www/clients/client30/web321/typo3_src/typo3_src-8.7.19/typo3/sysext

[2018-10-29 11:43] mbrodala commented on #18
You cannot set finisher variables from YAML. Please see [Share data between finishers](https://docs.typo3.org/typo3cms/extensions/form/Concepts/FrontendRendering/Index.html#concepts-frontendrendering-codecomponents-customfinisherimplementations-finishercontext-sharedatabetweenfinishers) in the official documentation which explains how to add values to the `FinisherVariableProvider`.

The `finisher

[2018-10-29 11:43] #18 closed

[2018-10-29 11:45] mbrodala commented on #18
I've just added that link to the README which makes this part a bit clearer I hope.

[2018-10-30 12:49] kassor opened #19 "tstamp field will be not filled (needed for TableGarbageCollectionTask)"
Hey folks,
the loggerFinisher doesnt fill the tstamp field which is needed because the defined dateField in TableGarbageCollectionTask is tstamp

[2018-10-30 13:21] mbrodala commented on #19
I can confirm the issue, thanks for bringing this up.

[2018-10-30 13:46] #19 closed

[2018-10-30 13:53] mbrodala commented on #19
This has been fixed with [version 1.1.7](https://github.com/pagemachine/typo3-formlog/releases/tag/1.1.7), the release will show up in the TER soon.

[2018-12-10 23:30] yorickreum commented on #17
+1 I'd love this feature too. Or a possibility to simply export all form data, as it is possible with powermail. One can easily clean up with excel afterwards…

[2019-04-18 08:58] DenisMir commented on #17
Yeah this would be awesome. We always build the same thing as a custom extension since only viewing the entries is not suitable for most customers.

[2019-04-18 09:18] mbrodala commented on #17
@DenisMir Would you like to share what you have built so far?

[2019-04-23 09:05] DenisMir commented on #17
@mbrodala Unfortunately the way we build it doesn't fit into the way formlog works. I'm looking into making it be a better fit for formlog.

[2019-05-09 08:16] cmaus-lus opened #23 "Update to Typo3 8.7.25 failed with Classic Mode"
After the Update from Typo3 8.7.24 to 8.7.25 the System crashed with the following Error:

[code]

[2019-05-09 09:11] ohader commented on #23
Which PHP version is used? Is there a possibility to reproduce that behavior in a DDEV/Docker environment? This would help to debug the processing

[2019-05-09 09:14] ohader commented on #23
Where is `vendors.phar` coming from and how is it loaded? I could not find that file in this repository...

[2019-05-09 09:14] mbrodala commented on #23
@ohader The `vendors.phar` is built in a Travis run right before deploying to TER:

https://github.com/pagemachine/typo3-formlog/blob/73eb02238c4264070932bf25114ec5dd23e402cd/.travis.yml#L73

[2019-05-09 09:53] cmaus-lus commented on #23
PHP Version was 7.2.

[2019-05-09 12:20] ohader commented on #23
I've just tested that locally with PHP 7.0.33/fcgi on macOS and TER version of the extension, but could not reproduce.
Could you please name the complete version, how it's invoked (Apache, fastcgi, ...) and which operating system or distribution has been used?

Can you please debug `typo3/sysext/core/Classes/IO/PharStreamWrapperInterceptor.php` a litte bit further? Interesting variables would be
*

[2019-05-09 12:42] cmaus-lus commented on #23
PHP complete version is "7.2.10-latest CGI",
Apache on Linux 2.6.32-openvz-042stab127.2-amd64.

Here the debugging results:
The variables $invocation, $baseName are empty,
PATH_SITE is the path to my root directory (/home/www/p******/html/updatetest/)

[2019-05-09 13:02] ohader commented on #23
Thx. That would mean the probably `TYPO3\PharStreamWrapper\Helper::determineBaseFile` cannot resolve the according phar file from the given `phar://...` string.

If spotted two slashes (`//`) in the string to be resolved `/home/www/p*****/html/updatetest/typo3conf/ext/formlog//vendors.phar/vendor/autoload.php`.

The according check that is executed internally is
[code]
(a `var_dump($result)` would

[2019-05-09 13:04] ohader commented on #23
`typo3conf/ext/formlog/ext_localconf.php` probably should look like the following (removing `/` before `vendors.phar/vendor/autoload.php`)

[code]

[2019-05-09 13:33] #23 closed

[2019-05-09 13:41] Treedent opened #26 "Can't update to TYPO3 V9.5.6 in Classic Mode"
When updating TYPO3 V9LTS to V9.5.6, the following error comes from formlog extension (1.1.7). Then I can't use the latest TYPO3 version without deactivating formlog extension :

 Failed opening required 'phar:///var/www/web/typo3conf/ext/formlog//vendors.phar/vendor/autoload.php'

[2019-05-09 13:44] mbrodala commented on #26
This has just been fixed with #23 and a new release will be made today.

[2019-05-09 13:55] ohader commented on #23
I hope it actually is fixed for @cmaus-lus

[2019-05-10 06:47] Treedent commented on #26
The problem persists with version 1.2.0.

Warning: Uncaught TYPO3\PharStreamWrapper\Exception: Executing phar:///var/www/web/typo3conf/ext/formlog/vendors.phar/vendor/autoload.php is denied in /var/www/clients/client36/web323/typo3_src/typo3_src-9.5.6/typo3/sysext/core/Classes/IO/PharStreamWrapperInterceptor.php:40 Stack trace: #0 /var/www/clients/client36/web323/typo3_src/typo3_src-9.5.6/vendor/t

[2019-05-10 06:48] cmaus-lus commented on #23
Yes, with the newest Version it works.
Thank You for your help

[2019-05-10 07:39] mbrodala commented on #23
Yes, @ohader thanks for the fix! And thanks @cmaus-lus for the report. :-)

[2019-05-10 07:43] mbrodala commented on #26
Can you do a little debugging in the mentioned `PharStreamWrapperInterceptor` to see what path is checked here after normalization?

Maybe @ohader has another idea.

[2019-05-10 12:39] ohader commented on #26
Hm... is the extension directory symlinked to some directory outside of `typo3conf/ext`, e.g. `project/public/typo3conf/ext/formlog -> project/extensions/formlog`?

[2019-05-10 13:45] Treedent commented on #26
In my case, no, Formlog is in typo3conf/ext/

[2019-05-10 14:20] Treedent commented on #26
The path used by phar has a symlink. In my case,
phar:///var/www/web/typo3conf/ext/formlog/vendors.phar/vendor/autoload.php
"web" is a symlink. The real path is :
/var/www/clients/client36/web323/web/typo3conf/ext/formlog/vendors.phar/vendor/autoload.php
Maybe it brokes on the symlink ?

[2019-05-13 09:15] mbrodala commented on #26
@Treedent can you try if [this change in TYPO3](https://review.typo3.org/c/Packages/TYPO3.CMS/+/60739) fixes the issue for you?

[2019-05-13 09:38] Treedent commented on #26
Sounds good, the phar path is well resolved with this patch.
Thank you.

[2019-05-13 09:55] mbrodala commented on #26
Thanks, I've forwarded your test result to the mentioned change. You are free to vote for yourself, of course. ;-)

[2019-08-01 13:43] #26 closed

[2020-06-15 09:21] sunfish opened #36 "Feature request: specify log data"
Many thanks for this smart and useful extension.
it would be a helpful feature if the identifiers of the form fields could be specified, which are then stored in the column tx_formlog_entries.data.

I can imagine it like this:
  -
    identifier: LogFormData
    options:
      logDataIdentifiers:
        - firstname
        - lastname
        - email

I would be very happy if the feature would be

[2020-06-15 10:04] mbrodala commented on #36
That would basically mean filtering the form values before storing them which shouldn't be that hard.

What is your usecase exactly?

[2020-06-15 11:33] sunfish commented on #36
Hi Mathias,
with this limitation the data view would be clearer.
The old form handler extension had a similar setting option.

Regards  Ulrich

Mathias Brodala schrieb am 15.06.2020 um 12:04:

[2020-06-24 07:58] mbrodala commented on #36
@sunfish Would you create a PR for this? You could basically copy the current logic for `finisherVariables`, but if undefined we'd need to collect all form values just like before.

Also I'd suggest `elementIdentifiers` or `identifiers` as option name.

[2020-07-27 13:40] pulponair opened #38 "TYPO3 v10: AjaxBackend Action does not match Method signature"
IS:
` public function searchAction(ServerRequestInterface $request, ResponseInterface $response): ResponseInterface`

Should be:
`public function searchAction(ServerRequestInterface $request): ResponseInterface`

Result:
SuggestFilter brocken.

[2020-07-27 14:08] pulponair opened #39 "TYPO3 v10: Remove usage of $viewFormatToObjectNameMap in Export Action"
https://docs.typo3.org/c/typo3/cms-core/master/en-us/Changelog/10.0/Breaking-87511-RemoveViewFormatToObjectNameMapProperty.html

Export broken in TYPO3 v10:

[2020-07-30 14:39] mbrodala commented on #38
Nice catch. Would you like to post a PR to update this? You'd need to create a custom JSON response however since `JsonResponse` is only available in [TYPO3v9 and newer](https://review.typo3.org/c/Packages/TYPO3.CMS/+/54059/).

[2020-07-30 14:44] mbrodala commented on #39
Would you like to post a PR to fix this? We'd basically need to replicate the current logic in a new `initializeExportAction()` to prepare the desired view.

[2020-07-31 09:38] pulponair commented on #38
@mbrodala sure, do you want it to be backward compatible or TYPO3 v10 only?

[2020-07-31 09:38] pulponair commented on #39
@mbrodala sure.

[2020-07-31 09:44] mbrodala commented on #38
We'd like to stay compatible to TYPO3v8 and TYPO3v9 as long as possible.

[2020-07-31 09:50] pulponair commented on #38
@mbrodala all right. Then i ll need your hand for review since i dont have time for indeep 8 and 9 testing :).

[2020-07-31 09:54] mbrodala commented on #38
Of course, I'll do a thorough review.

On that note it should actually be fairly easy to add a functional test for the `FormLogSuggestController` to automatically test this ...

[2020-09-07 17:30] georgringer opened #45 "PHP Warning addQueryStringMethod = GET,POST or POST,GET is not supported"
Just trying the extension in v10 triggering warnings:

[code]

[2020-09-08 09:46] #38 closed

[2020-09-08 11:23] #39 closed

[2020-09-08 12:51] mbrodala commented on #45
Thanks for the report, this will be fixed with the next release.

[2020-09-08 12:55] #45 closed

[2020-09-11 12:27] achim1234 opened #49 "Problem with export on filtered data"
Hallo,

I have a problem with the export function on filtered log entries.
We have a site with multiple forms and we want to export the data
for each form separately. But when I try to export the filtered data,
the export file includes the data from all forms. This happens
with the CSV and Excel export.
I don't know if this is a bug or a missing feature.

If it is a bug we have following environme

[2020-09-11 12:46] mbrodala commented on #49
Thanks for the report. There where indeed quite some changes here for compatibility to TYPO3v10, so I'll have a look.

[2020-09-28 09:50] mbrodala commented on #49
@achim1234 I just checked and the export works fine (both CSV and XLSX) with TYPOv10. An active page filter is respected with the export:

![image](https://user-images.githubusercontent.com/5037116/94417652-a2944600-0180-11eb-9fdc-96ee58482be5.png)
![image](https://user-images.githubusercontent.com/5037116/94417672-a9bb5400-0180-11eb-9b6f-912141026104.png)
![image](https://user-images.githubuserco

[2020-09-29 07:55] achim1234 commented on #49
@mbrodala I found out, that the filter isn't respected on the export, when I filter the entries via the dropdown menu (screenshot). All entries get exported:
![dropdown-filter](https://user-images.githubusercontent.com/11617556/94529281-d4b5ae80-0239-11eb-97f8-959b6f73ae52.png)

When I press the filter button on the single entry (screenshot 2) the export works fine:
![filter](https://user-images.g

[2020-09-29 08:32] mbrodala commented on #49
@achim1234 Yes, I can reproduce the problem this way, thanks!

[2020-09-29 09:44] #49 closed

[2020-09-29 09:51] mbrodala commented on #49
A fix for this has been released with version 1.3.2 now, thanks for the report!

[2020-10-22 14:19] chwessalowski opened #53 "type: FileUpload is not saved at all"
Thanks a lot for this very cool extension. Very clever implementation.
But type: FileUpload is not saved in the JSON. Or am I doing something wrong?

[2020-10-22 14:55] mbrodala commented on #53
What exactly do you expect to show up in the logged data? An uploaded file contains a lot of data (UID, filename, path, etc.) but without any additional processing we can store only a single plain value.

[2020-11-05 10:41] chwessalowski commented on #53
Hello Mathias
thanks for the quick respond.
Just the filename would do. Simple as that.
The path is in the form definition. Don't need that.

[2020-11-23 10:24] mbrodala commented on #53
Would you try to give this a spin? I currently don't really have the time to take care of this but agree that it could be useful.

[2021-02-19 14:35] sabbelasichon commented on #36
@mbrodala Would like to implement this feature. But waiting for #59

[2021-03-05 13:52] #53 closed

[2021-05-31 08:18] georgringer opened #62 "Restricted pages not visible in backend module anymore"
If a page of a form is getting restricted with e.g. hidden or start/endtime, the page title won't be shown anymore in the backend module. Our customers uses a lot of forms, especially for stuff like quizzes and those pages are e.g. time restricted.

As a quick fix I did this
[code]

but I propose to remove the extbase models in total and use raw queries directly which would also improve performanc

[2021-07-26 08:25] mbrodala opened #64 "Check TYPO3-PSA-2021-002"
We should test whether https://typo3.org/security/advisory/typo3-psa-2021-002 also applies to the CSV export of Formlog.

[2021-07-26 08:44] mbrodala commented on #64
Just did a quick check: yes we are also affected:

1. Enter e.g. `=1+1` as a value in any form field
2. Export this entry as CSV
3. Import this CSV in Calc/Excel
4. See `2` as cell value

Since there is no intention of supporting formulas here we should also apply escaping as suggested.

[2021-07-26 09:07] #64 closed

[2021-09-03 08:44] pulponair opened #83 "TYPO3 v11 compatibillity"
Bring TYPO3 v11 compatibility.

[2021-09-03 10:37] mbrodala commented on #83
This is definitely on the roadmap but have you tried already? Did you encounter any issues?

Without a community PR this will be done as early as TYPO3v11 is released as final LTS version.

[2021-09-03 10:51] pulponair commented on #83
@mbrodala i am about to file a PR. I did that locally, tested and it works. Stay tuned

[2021-09-08 07:49] pulponair commented on #83
@mbrodala here we go. Would you mind having a look?

[2021-09-08 07:57] mbrodala commented on #83
I will, soon. ;-)

[2021-09-15 13:46] kurtkk opened #86 "fields like "date" or "date_picker" would not be displayed in the BE-list!?"
I have a date-field in a form.
I put this field (beside others) into the list and export view:
[code]
Field nr. 115 will always be empty in the list and also in the detail-view!?

[2021-09-15 13:49] mbrodala commented on #86
There is ongoing work in https://github.com/pagemachine/typo3-formlog/pull/63 to fix this. Contributions are welcome.

[2021-12-01 08:58] ganybhat opened #109 "The finisher preset identified by "LogFormData" could not be found. For TYPO3 V11."
I am getting this error on TYPO3 11.

Core: Exception handler (WEB): Uncaught TYPO3 Exception: #1328709784: The finisher preset identified by "LogFormData" could not be found, or the implementationClassName was not specified. | TYPO3\CMS\Form\Domain\Model\Exception\FinisherPresetNotFoundException thrown in file /html/typo3/typo3_src-11.5.3/typo3/sysext/form/Classes/Domain/Model/FormDefinition.php

[2021-12-01 11:29] ganybhat commented on #109
Now got it working by adding **ext_typoscript_setup.txt** file content to "/formlog/Configuration/TypoScript/setup.typoscript".

And this code in ext_tables.php
\TYPO3\CMS\Core\Utility\ExtensionManagementUtility::addStaticFile(
    'formlog',
    'Configuration/TypoScript',
    'EXT:form Formlog Finisher'
);
And then select in TS template.

[2021-12-02 10:03] mbrodala commented on #109
There is no release for TYPO3v11 yet, so issues are to be expected.

[2022-01-19 11:03] #83 closed

[2022-02-01 16:27] micha68g opened #122 "TYPO3 V11: Export Button -> No effect/function"
Hi,
I don't know if I maybe missed some configuration work, but the "export"-Button has simply no function when clicked. (TYPO3 11.5.5., formlog 2.0.0).
Formlog entries get listed correctly, even with my extra-configuration for the list-view...but I can't export anything (even in basic mode before any changes to the list-settings). Clicking the export-button has just no effect.... (Tested in Chrom

[2022-02-04 14:35] mbrodala commented on #109
@ganybhat Can you retry? Version [2.0.0](https://github.com/pagemachine/typo3-formlog/releases/tag/2.0.0) was officially released with TYPO3v11 support.

[2022-02-04 15:06] mbrodala commented on #122
Thanks a lot for the report. It seems like a whole bunch of change have gone MIA. (See e.g. the broken pagination)

I'll try to redo these.

[2022-02-04 15:39] mbrodala commented on #122
@micha68g I tried my best to catch all lost updates with https://github.com/pagemachine/typo3-formlog/pull/123, can you test this?

[2022-02-04 15:42] mbrodala opened #124 "Disabled pages missing in log/export"
In case a page is disabled, nothing is shown in the log module and an empty value is exported.

This should be changed to also include disabled pages.

[2022-02-04 16:25] micha68g commented on #122
Thanks, BE-view is ok now. Broken pagination fixed and export-Button toogles out the csv- and excel-options.
But.... I get 503 errors "Class 'League\Csv\Writer' not found" respectively "Class 'OneSheet\Style\Style' not found" when trying to start an export...

Note:  whole project and extensions were installed *not* using composer....

[2022-02-07 07:49] mbrodala commented on #122
Yes, the bundling of Composer libraries happens right before TER upload on release. So this error cannot be avoided on Legacy Mode and a Git clone.

So thanks for testing!

[2022-02-07 07:50] #122 closed

[2022-02-07 09:30] kszymukowicz opened #129 "Export not working on TYPO3 11"
hi

can someone confirm (or not) that after clicking the Export button in TYPO311 there is no div shown with possibility to choose cvs/xls? I checked the console. There is no JS errors and in network all file are loaded. Tnx.

Using 2.0.0.

[2022-02-07 09:36] mbrodala commented on #129
This is/was a known issue, see https://github.com/pagemachine/typo3-formlog/issues/122

It was fixed today and will be released soon.

[2022-02-07 09:36] #129 closed

[2022-02-07 09:52] mbrodala commented on #129
This was released with version [2.0.1](https://github.com/pagemachine/typo3-formlog/releases/tag/2.0.1) now.

[2022-02-07 09:53] mbrodala commented on #122
This was released with version [2.0.1](https://github.com/pagemachine/typo3-formlog/releases/tag/2.0.1) now.

[2022-02-07 12:08] kszymukowicz commented on #129
Tnx a lot!

[2022-02-07 12:18] kszymukowicz opened #131 "Define export fields based on form"
hi
I can not find in docs and from the code looks like its not possible to define export fields based on form.
Do you have some nice trick for that?

[2022-02-07 12:22] mbrodala commented on #131
What do you mean exactly with that?

Maybe related to https://github.com/pagemachine/typo3-formlog/issues/17

Here you can see that it's not that easy to implement but maybe you have a good idea.

[2022-02-12 10:07] kszymukowicz commented on #131
Sorry for late response. I was trying to find the best solution.

Actually I was inspired by the conditions here https://github.com/pagemachine/typo3-formlog/issues/15 and I have made a condition per form identifier like below. This solves my issue. If you want I can make a PR with docs for that solution or maybe you want to solve that possibility differently? For example by defining some way to i

[2022-02-14 07:53] mbrodala commented on #131
Your workaround may work but it relies on two facts which cannot be taken as given:

1. Log entries of a single form are listed
2. The form definition never changes

By default we the list contains entries of all forms mixed, filtering by a single identifier may open up the path for exporting entries of a single form. But that form definitions may change cannot be avoided; the same form identifier

[2022-02-14 11:46] SirRuddy opened #132 "Error after updating 1.x to 2.x"
After updating formlog the module shows an error:

**Oops, an error occurred!**
_The type of property Pagemachine\Formlog\Domain\Model\FormLogEntry::page could not be identified, therefore the desired value (NULL) cannot be mapped onto it. The type of a class property is usually defined via php doc blocks. Make sure the property has a valid @var tag set which defines the type._

After clearing the

[2022-02-14 12:01] mbrodala commented on #132
Can you upload the full exception trace you see? Did you flush all caches?

I cannot reproduce this with the same TYPO3v10 version.

[2022-02-14 14:16] mbrodala commented on #132
Is there something special about the page with UID 218 here?

Also do you have any PHP optimizer activated which may strip docblocks? If yes, please retry with having it disabled.

[2022-02-15 20:20] ma8bi4ne opened #133 "Display of logging entries not possible"
When trying to check the logged entries, I get the following error:

`Oops, an error occurred!
The type of property Pagemachine\Formlog\Domain\Model\FormLogEntry::page could not be identified, therefore the desired value (NULL) cannot be mapped onto it. The type of a class property is usually defined via php doc blocks. Make sure the property has a valid @var tag set which defines the type. `

Am

[2022-02-16 07:44] mbrodala commented on #133
Sounds like a duplicate of #132, please add as much debugging info and a way to reproduce it in that ticket.

[2022-02-16 07:44] #133 closed

[2022-02-16 09:56] SirRuddy commented on #132
Nope! The ID has nothing to do with it. It happens on all pages. And no, we don't use a PHP optimizer.

[2022-02-16 09:59] mbrodala commented on #132
@SirRuddy Please add more debugging details as requested. Currently I am unable to reproduce the issue.

[2022-02-17 16:33] ma8bi4ne commented on #132
Some information since I face the same problem:
Environment:
PHP 7.4.26
Typo3 10.4.23

Error message (very same as above):
Core: Exception handler (WEB): Uncaught TYPO3 Exception: #1579965021: The type of property Pagemachine\Formlog\Domain\Model\FormLogEntry::page could not be identified, therefore the desired value (NULL) cannot be mapped onto it. The type of a class property is usually defined

[2022-02-17 16:44] mbrodala commented on #132
Can you provide a dumped formlog entry which shows the mentioned behavior? Also the related form definition would be useful.

I have an instance with many different forms and more than 20000 form log entries, still I cannot see this error.

[2022-02-17 17:38] ses2013 opened #134 "exception after updating"
After updating from ver. 1 to 2 with exact the same settings I get an exception after submitting the form.

Doctrine\DBAL\Exception\NotNullConstraintViolationException

An exception occurred while executing 'INSERT INTO `tx_formlog_entries`

 Column 'pid' cannot be null

[2022-02-17 17:42] ma8bi4ne commented on #132
SQL-Dump:

`
/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;

[2022-02-18 07:14] mbrodala commented on #134
Can you add more details, especially the TYPO3 version? And the full error trace if possible.

[2022-02-18 07:16] mbrodala commented on #132
@ma8bi4ne Can you also attach the result of the following SQL query? (Redact sensitive data if necessary)

[code]

[2022-02-18 07:23] ma8bi4ne commented on #132
{
	"data":
	[
		{
			"uid": 19,
			"pid": 2,
			"tstamp": 1645168745,
			"crdate": 1644924942,
			"cruser_id": 1,
			"deleted": 0,
			"hidden": 0,
			"starttime": 0,
			"endtime": 0,
			"fe_group": "",
			"sorting": 640,
			"rowDescription": null,
			"editlock": 0,
			"sys_language_uid": 0,
			"l10n_parent": 0,
			"l10n_source": 0,
			"l10n_state": null,
			"t3_origuid": 0,
			"l10n_diffsource": "

[2022-02-18 07:35] mbrodala commented on #132
Nothing special about this either.

@ma8bi4ne Can you insert the following [near the mentioned error](https://github.com/TYPO3/typo3/blob/10.4/typo3/sysext/extbase/Classes/Persistence/Generic/Mapper/DataMapper.php#L267-L268)?

[code]

Then check the form log module once more where you should see some output. Make sure to expand the *definition* here and attach a screenshot like this:

![image](htt

[2022-02-18 08:07] mbrodala commented on #109
There has been no further feedback, so I'll assume this is fixed.

[2022-02-18 08:07] #109 closed

[2022-02-18 08:08] mbrodala commented on #86
This has been fixed by now, see the mentioned issue.

[2022-02-18 08:08] #86 closed

[2022-02-18 08:17] mbrodala commented on #131
Giving this another thought the suggested TypoScript setup could indeed help to get this achieved.

Currently we have this:

[code]

Another option could be added to specify dedicated `columns` for each form identifier:

[code]

This could then prefer the 2nd paths if only entries from the form `<identifier>` are to be listed; we can determine this from the fact that the matching filter is applied

[2022-02-18 09:04] ma8bi4ne commented on #132
Sure - meet me there

[2022-02-18 09:13] mbrodala commented on #134
Thanks for the details, this confirms the issue but still does not give a hint what goes wrong here. Is there something special about the way the form is rendered/called? Is the page with the form regularly accessible?

[2022-02-18 14:37] ses2013 commented on #134
When I downgrade to 1.4.1 and run the database compare tool ist says:

DROP INDEX `parent` ON tx_formlog_entries
CREATE INDEX `parent` ON tx_formlog_entries (pid)
ALTER TABLE `tx_formlog_entries` CHANGE `deleted` `deleted` INT UNSIGNED DEFAULT 0 NOT NULL
Current value: deleted SMALLINT UNSIGNED DEFAULT 0 NOT NULL

Maybe after upgrading something went wrong with the database structure?

[2022-02-18 15:40] ses2013 commented on #134
But the page is visible and acessable. Strange!

[2022-02-20 19:18] ses2013 commented on #134
OK, sorry I close this issue:
We made an XCLASS of the extension in our site-extension which produced the error.
Sorry of the waste of time.

[2022-02-20 19:18] #134 closed

[2022-02-20 20:44] kszymukowicz commented on #131
Yes - that will solve the issue and your TS settings proposal is better than mine.

[2022-02-21 07:52] mbrodala commented on #134
Thanks for the update. :-)

[2022-02-28 09:32] mbrodala commented on #132
Sorry, seems like we missed us. And unfortunately I won't have time for this during the next 2 weeks. If you have more details to share like details about your environment, if you can reproduce this on various systems, please add them here and I'll have a look ASAP.

[2022-03-11 07:43] mbrodala commented on #5
@Nemo64 Thanks for the idea, we'll check if that makes sense.

[2022-03-15 16:26] mbrodala commented on #132
@Shotte Thanks for chiming in. Can you do some debugging in the Extbase `ClassSchema::reflectProperties()` method? Here `$this->properties[$propertyName]['t']` is filled ...

[2022-03-15 19:03] Shotte commented on #132
@mbrodala Thanks for your quick response but I'm not familiar with php debugging. Could you please be a bit more instructive how I can get this object visualized, like you did with the previous Extbase Variable Dump? I tries it with the same command but did not get any results:

`\TYPO3\CMS\Extbase\Utility\DebuggerUtility::var_dump($this->properties[$propertyName]['t']);
`

[2022-03-16 10:27] mbrodala commented on #132
That's the basic way. If you don't get any output, then you need to backtrack on the code to see if there are conditions which could prevent your output from being run. E.g.:

https://github.com/TYPO3/typo3/blob/29c832d76421f063813886b73e8e84603b91a3ed/typo3/sysext/extbase/Classes/Reflection/ClassSchema.php#L259

So debugging `$types` would be the next step, and so on.

[2022-03-16 21:46] Shotte commented on #132
Ok, I got a bit further. For me it crashes here:
typo3/sysext/extbase/Classes/Persistence/Generic/Mapper/DataMapper.php  line 270

Steppimng back to $object I got the following (looks nothing is in there)

![Screenshot 2022-03-16 222707](https://user-images.githubusercontent.com/6080354/158693949-8bfd9ca4-662d-46c7-8c13-f459ac7608c1.png)

going further back to line where thawProperties is called:

[2022-03-20 17:11] Shotte commented on #132
@mbrodala
Do you think that it is possible to take a closer look at this issue? I'm not able to handle it because I don't know what there should be as $propertyType and where it comes from. Currently it is NULL. The exception announces a missing doc block definition. But where?

Thank you in advance.

[2022-03-21 08:11] mbrodala commented on #132
TBH I'm stuck here as well since I don't have the slightest cue what goes wrong in your environment here. Especially since everything works just fine here on any v10/v11 instance.

The "missing" doc block is caused by this change: https://github.com/pagemachine/typo3-formlog/pull/81/files#diff-687e5830cb49f9d7bb1a746266f0f4e110d103068250a85065b8d86d78dbd040

Here we have switched from legacy untyp

[2022-03-21 14:10] Shotte commented on #132
@mbrodala
First thank you that you invested time into my request.

Docker image: sorry, not possible due to a dedicated hardware server accessable only via SFTP (for me).

Caches and optimizer: everything is flushed and nothing is activated.

Composer output: missing CLI access (see above)

The class "FormLogEntry" makes trouble. I added the contents of the tree local variables taklen from $object

[2022-03-21 15:44] mbrodala commented on #132
You could expand `properties`, then `page` in the `$classSchema` dump but I guess I know that you will not see the same as this:

![image](https://user-images.githubusercontent.com/5037116/159297932-a07598b0-1dca-4586-9b2f-dc4e1bf098c6.png)

[2022-03-21 16:14] mbrodala commented on #132
OK, I dug a bit deeper now and think I have an idea, but I need a few more hints.

First I need know if Composer Mode is also affected. If yes, please send me the output of `composer show symfony/property-info | grep versions`.

As for Legacy Mode I can see that TYPO3 10.4.21 ships with `symfony/property-info` version [5.0.7 which is ancient](https://packagist.org/packages/symfony/property-info#v5

[2022-03-21 17:10] Shotte commented on #132
@mbrodala
Hey, you are the man! That did the trick. Everything looks good now!!!

Thank you for your time.

[2022-03-21 17:27] mbrodala commented on #132
Alright, thanks for the patience. Version 2.1.1 is out now which includes this fix:

- https://github.com/pagemachine/typo3-formlog/releases/tag/2.1.1
- https://extensions.typo3.org/extension/formlog

[2022-05-04 07:09] bh-teufels opened #151 "variants condition 'finisherIdentifier in ["LogFormData"] not working"
i have field that i want to display only in finisher
the condition `condition: 'finisherIdentifier in ["EmailToSender", "EmailToReceiver", "Confirmation", "LogFormData"]'`
working for Mails but not for LogFormData. The field does not appear in form log

my form.yaml looking like
[code]

[2022-05-04 07:18] bh-teufels opened #152 "Feature request: add upload file path to log data"
the uploaded files get logged with file name, it would be awesome when also the path get logged.

on upload the files get saved in the selected storage inside a generated folder like "form_7c4bf264b5c1236827517ad756d0c71988d24296"

so it would be helpfull if i could get the storage path from the formlog entry

thanks

[2022-05-04 07:52] mbrodala commented on #152
Good idea, can you post a PR? Adding this and adjusting the tests should be rather easy.

[2022-05-04 07:59] mbrodala commented on #151
Can you debug here whether `$element->isEnabled()` yields `true` / `false` as expected?

https://github.com/pagemachine/typo3-formlog/blob/dff66af510876971745b25fdc5eb847275556c68/Classes/Domain/Form/Finishers/LoggerFinisher.php#L83

[2022-05-04 08:00] bh-teufels opened #153 "Feature request: add scheduler task to clear log entry older than x days"
for the European GDPR it would be helpfull if you could provide a scheduler task to remove log entry older than a given amount of days

[2022-05-04 08:16] bh-teufels commented on #151
the field is not included in
$this->finisherContext->getFormValues()

[2022-05-04 08:23] bh-teufels commented on #152
it is indeed really simple just add

`'path' => $formValue->getIdentifier(),` to LoggerFinisher.php -> getFormValues() at line 79

[code]

[2022-05-04 08:25] bh-teufels commented on #151
i also would add
` 'url' => $formValue->getPublicUrl(),`
which links  to the file so it is possible to directly view and download the file

[2022-05-04 08:25] bh-teufels commented on #152
i also would add
`'url' => $formValue->getPublicUrl(),`
which links to the file so it is possible to directly view and download the file

[2022-05-04 08:30] mbrodala commented on #151
Hm, that would mean the variant is not applied correctly. Can you debug a little further, especially in `FormRuntime::processVariants()`.

[2022-05-04 08:31] mbrodala commented on #153
This can be done already with TYPO3 alone, [see README](https://github.com/pagemachine/typo3-formlog/blob/dff66af510876971745b25fdc5eb847275556c68/README.md#log-entry-cleanup).

[2022-05-04 08:31] #153 closed

[2022-05-04 08:32] bh-teufels commented on #151
I'll investigate it a bit further but don't know if I'll get to it this week

[2022-05-04 08:34] mbrodala commented on #152
Notice that the file identifier doesn't need to be its path. While this is the case for the `local` driver, this may be different for other storages using e.g. remote drivers. Instead one would need to use `$fileReference->getForLocalProcessing(false)`, but this may lead to a local copy of remote files in case of remote storages.

But `$fileReference->getPublicUrl()` should be safe to add.

[2022-05-14 13:12] kurtkk opened #154 "missing date fields in the data-result in DB"
Form-fields like "**date**" or "**datepicker**" wouldn't be written into the database date-field!?
So it is not possible to show them nor in the list.columns neither in the export.columns.

With the Ext. "form_to_database" you'll get them in this structure (sub-array):
"datum":{"date":"2022-05-16 08:06:44.000000","timezone_type":3,"timezone":"Europe\/Berlin"} e.g.

[2022-05-16 07:20] mbrodala commented on #154
Since [version 2.1.0](https://github.com/pagemachine/typo3-formlog/releases/tag/2.1.0) that's actually supported. By default all form values are logged, so it really depends on which columns you display in the list / export. How does your config look like exactly?